

.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif; 
    background-color: white; 
    color: black; 
}
  
  .nav-link {
    font-size: 18px;
  }
    
  .carousel-image {
    height: 900px;
    object-fit: cover; 
  }
  
    .header-buttons {
    display: flex;
    align-items: center; 
    }
    
    .header-buttons a.btn {
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 5px; 
    }

  